NET "E" LOC="C4";
NET "RST" LOC="B8";
NET "CLK" LOC="V10";
NET "DB_IN<0>" LOC="T10";
NET "DB_IN<1>" LOC="T9";

NET "Win" LOC="U16";
NET "DIGIT_OUT<0>" LOC="M13";
NET "DIGIT_OUT<1>" LOC="L14";
NET "DIGIT_OUT<2>" LOC="N14";
NET "DIGIT_OUT<3>" LOC="M14";
NET "DIGIT_OUT<4>" LOC="U18";
NET "DIGIT_OUT<5>" LOC="U17";
NET "DIGIT_OUT<6>" LOC="T18";
NET "DIGIT_OUT<7>" LOC="T17";

NET "Segs<0>" LOC="P17";
NET "Segs<1>" LOC="P18";
NET "Segs<2>" LOC="N15";
NET "Segs<3>" LOC="N16";