NET "Oxyllirator" LOC="V10";
NET "Oxyllirator" CLOCK_DEDICATED_ROUTE = FALSE;
NET "ENABLE" LOC="V8";
NET "ENABLE" CLOCK_DEDICATED_ROUTE = FALSE;
NET "DIGIT<0>" LOC="N8";
NET "DIGIT<1>" LOC="U8";
NET "NUMBER<0>" LOC="T10";
NET "NUMBER<1>" LOC="T9";
NET "NUMBER<2>" LOC="V9";
NET "NUMBER<3>" LOC="M8";

NET "ANOD<0>" LOC="N16";
NET "ANOD<1>" LOC="N15";
NET "ANOD<2>" LOC="P18";
NET "ANOD<3>" LOC="P17";
NET "C<0>" LOC="M13";
NET "C<1>" LOC="L14";
NET "C<2>" LOC="N14";
NET "C<3>" LOC="M14";
NET "C<4>" LOC="U18";
NET "C<5>" LOC="U17";
NET "C<6>" LOC="T18";
NET "C<7>" LOC="T17";