//! **************************************************************************
// Written by: Map P.20131013 on Mon Dec 15 18:36:39 2025
//! **************************************************************************

SCHEMATIC START;
COMP "DIGIT<0>" LOCATE = SITE "N8" LEVEL 1;
COMP "DIGIT<1>" LOCATE = SITE "U8" LEVEL 1;
COMP "ENABLE" LOCATE = SITE "V8" LEVEL 1;
PIN ENABLE_pin<0> = BEL "ENABLE" PINNAME PAD;
PIN "ENABLE_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "Oxyllirator" LOCATE = SITE "V10" LEVEL 1;
PIN Oxyllirator_pin<0> = BEL "Oxyllirator" PINNAME PAD;
PIN "Oxyllirator_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "C<0>" LOCATE = SITE "M13" LEVEL 1;
COMP "C<1>" LOCATE = SITE "L14" LEVEL 1;
COMP "C<2>" LOCATE = SITE "N14" LEVEL 1;
COMP "C<3>" LOCATE = SITE "M14" LEVEL 1;
COMP "C<4>" LOCATE = SITE "U18" LEVEL 1;
COMP "C<5>" LOCATE = SITE "U17" LEVEL 1;
COMP "C<6>" LOCATE = SITE "T18" LEVEL 1;
COMP "C<7>" LOCATE = SITE "T17" LEVEL 1;
COMP "NUMBER<0>" LOCATE = SITE "T10" LEVEL 1;
COMP "NUMBER<1>" LOCATE = SITE "T9" LEVEL 1;
COMP "NUMBER<2>" LOCATE = SITE "V9" LEVEL 1;
COMP "NUMBER<3>" LOCATE = SITE "M8" LEVEL 1;
COMP "ANOD<0>" LOCATE = SITE "N16" LEVEL 1;
COMP "ANOD<1>" LOCATE = SITE "N15" LEVEL 1;
COMP "ANOD<2>" LOCATE = SITE "P18" LEVEL 1;
COMP "ANOD<3>" LOCATE = SITE "P17" LEVEL 1;
SCHEMATIC END;

